<% if (typeof shopifyConnected !== 'undefined') { %>
  <% if (shopifyConnected) { %>
    <span class="badge badge-tone-success">Connected</span>
  <% } else { %>
    <span class="badge badge-tone-neutral">Demo mode</span>
  <% } %>
<% } %>
